<div class="mt-4 d-flex justify-content-center">
    <div class="col-10 p-0 bg-cristal-07 blur">
        <div class="bg-cristal-06 p-4 d-flex">
            <span class="fs-1-4x">Doctores</span>
            <button class="ml-auto btn btn-lens btn-squared btn-sm" data-toggle="modal" data-target="#insertModal">
                INSERTAR
            </button>
            <input id="txt_search" type="text" class="form-control-sm form-control col-3 ml-3" placeholder="Buscar...">
            <button onclick="search()" class="ml-1 btn btn-lens btn-squared btn-sm"><i class="icon_search"></i></button>
            <button class="ml-3 btn btn-lens btn-squared btn-sm" onclick="">VER TODOS</button>
        </div>
        <div class="p-4">
            <table class="table table-dark table-borderless table-hover border border-dark m-0">
                <thead class="bg-cristal-04">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Especialidad</th>
                        <th>Turno</th>
                        <th>Telefono</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody id="tbl_main">

                </tbody>
            </table>
        </div>
        <div class="pl-4 pr-4 pt-1 pb-1 text-secondary bg-cristal-01 text-center letter-spacing-02">
            "Clinica-Medica"
        </div>
    </div>
</div>
<section id="modals">
    <!--MODALS-->
    <div class="modal fade" id="insertModal" tabindex="-1" role="dialog" aria-labelledby="insertModal"
        aria-hidden="true">
        <div class="modal-dialog">
            <form id="frm_insert" class="modal-content bg-cristal-06 blur rounded-0 shadow-sm" method="POST">
                <div class="modal-header justify-content-center fs-1-4x border-primary">
                    INSERTAR
                </div>
                <div class="modal-body">
                    <div class="col-10 m-auto">
                        <div class="form-row mt-3">
                            <label class="col-4 text-right m-auto pr-3" for="">Nombre</label>
                            <input id="txt_isn_nombre" type="text" class="form-control col" placeholder="Nombre...">
                        </div>
                        <div class="form-row mt-3">
                            <label class="col-4 text-right m-auto pr-3" for="">Especialidad</label>
                            <input id="txt_isn_especia" type="text" class="form-control col" placeholder="Especialidad...">
                        </div>
                        <div class="form-row mt-3">
                            <label class="col-4 text-right m-auto pr-3" for="">Turno</label>
                            <input id="txt_isn_turno" type="text" class="form-control col" placeholder="Turno....">
                        </div>
                         <div class="form-row mt-3">
                            <label class="col-4 text-right m-auto pr-3" for="">Telefono</label>
                            <input id="txt_isn_tel" type="text" class="form-control col" placeholder="Telefono...">
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-dark">
                    <button class="btn btn-dark btn-sm btn-squared" data-dismiss="modal">CERRAR</button>
                    <button class="btn btn-lens btn-sm btn-squared">INSERTAR</button>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModal"
        aria-hidden="true">
        <div class="modal-dialog">
            <form id="frm_update" class="modal-content bg-cristal-06 blur rounded-0 shadow-sm">
                <div class="modal-header justify-content-center fs-1-4x border-warning">
                    ACTUALIZAR
                </div>
                <div class="modal-body">
                    <div class="col-10 m-auto">
                        <div class="form-row mt-3">
                            <label class="col-4 text-right m-auto pr-3" for="">ID</label>
                            <input id="txt_upd_id" disabled type="text" class="form-control col">
                        </div>
                        <div class="form-row mt-3">
                            <label class="col-4 text-right m-auto pr-3" for="">Nombre</label>
                            <input id="txt_upd_nombre" type="text" class="form-control col" placeholder="Nombre">
                        </div>
                        <div class="form-row mt-3">
                            <label class="col-4 text-right m-auto pr-3" for="">Especialidad</label>
                            <input id="txt_upd_espe" type="text" class="form-control col" placeholder="Especialidad...">
                        </div>
                        <div class="form-row mt-3">
                            <label class="col-4 text-right m-auto pr-3" for="">Turno</label>
                            <input id="txt_upd_turno" type="text" class="form-control col" placeholder="Turno...">
                        </div>
                        <div class="form-row mt-3">
                            <label class="col-4 text-right m-auto pr-3" for="">Telefono</label>
                            <input id="txt_upd_tel" type="text" class="form-control col" placeholder="Telefono...">
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-dark">
                    <button class="btn btn-dark btn-sm btn-squared" data-dismiss="modal">CERRAR</button>
                    <button class="btn btn-lens btn-sm btn-squared">ACTUALIZAR</button>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    var tbl_main = $("#tbl_main");
    load_table();

    //MAIN
    $('#frm_insert').submit(function(e) {
        e.preventDefault();
        var data =''
        data += "nombre" +$('txt_isn_nombre').val();
        data += "especialidad" +$('txt_isn_especia').val();
        data += "turno" +$('txt_isn_turno').val();
        data += "telefono" +$('txt_isn_tel').val();
        axios.post('controller/doctor/insert.php', data).then(res =>{
            return res.data;
        }).then(function (data) {
            if (data) {
                msg_success("Insertado correctamente");
                load_table();
            } else {
                msg_error("No fue posible insertar <br><small class='mt-2'>" + data + "</small>");
            }
        })
    })

    $('#frm_update').submit(function (e) {
        e.preventDefault();
        var data = ''
        data += "id=" + $('#txt_upd_id').val();
        data += "&nombre=" + $('#txt_upd_nombre').val();
        data += "&especialidad=" + $('#txt_upd_especia').val();
        data += "&turno=" + $('#txt_upd_turno').val();
        data += "&telefono=" + $('#txt_upd_tel').val();
        axios.post('controller/doctor/update.php', data).then(res => {
            return res.data;
        }).then(function (data) {
            console.log(data);
            if (data) {
                msg_success("Actualizado correctamente");
                load_table();
            } else {
                msg_error("No fue posible actualizar <br><small class='mt-2'>" + data + "</small>");
            }
        })
    })

   function trg_delete(id) {
        var data;
        data = "id=" + id;
        axios.post('controller/doctor/delete.php', data).then(res => {
            return res.data;
        }).then(function (data) {
            if (data) {
                msg_success("Eliminado correctamente");
                load_table();
            } else {
                msg_error("No fue posible eliminar <br><small class='mt-2'>" + data + "</small>");
            }
        })

     function trg_update(id) {
        axios.get('controller/doctor/read_one.php', {
            params: {
                id: id
            }
        }).then(res => {
            return res.data;
        }).then(function (data) {
            data.forEach(row => {
                $("#txt_upd_id").val(row.id);
                $("#txt_upd_nombre").val(row.nombre);
                $("#txt_upd_especia").val(row.especialidad);
                $("#txt_upd_turno").val(row.turno);
                $("#txt_upd_tel").val(row.telefono);
            });
        })
    }     

 function load_table() {
        tbl_main.html("");
    axios.get('controller/doctor/tabla.php', {}).then(res => {
        return res.data;
    })then(function(data){
    data.forEach(row =>{
        var tbl_str
            tbl_str += "<tr>"
            tbl_str += "<td>" + row.id + "</td>"     
            tbl_str += "<td>" + row.nombre + "</td>"     
            tbl_str += "<td>" + row.especialidad + "</td>"     
            tbl_str += "<td>" + row.turno + "</td>"     
            tbl_str += "<td>" + row.telefono + "</td>"
            tbl_str += "<td>"
            tbl_str += '<button onclick="trg_delete(' + row.id +')" class="btn btn-lens btn-squared btn-sm mr-1"><i class="icon_trash"></i></button>';
            tbl_str +='<button onclick="trg_update(' + row.id + ')" class="btn btn-lens btn-squared btn-sm" data-toggle="modal" data-target="#updateModal"><i class="icon_pencil"></i></button>';
            tbl_str +="</td"      
            tbl_str +="</td"
            tbl_main.append(tbl_str);
        });
    })
 }
</script>