<div class="d-flex vh-100 justify-content-center align-items-center text-white">
    <div class="text-center bg-cristal-05 col-6 p-4 blur">
        <div class="letter-spacing-02 font-weight-bold text-uppercase fs-3x">Clinica Medica Social</div>
        <div class="text-white letter-spacing-02 text-uppercase fs-2x">San Antonio de Padua</div>
        <div class="mt-3">
                La atención medica es un tema de interés común, y la atención eficiente y rápida es una necesidad, el problema que presenta la clínica “Médica Social de San Antonio de Padua”; Un sanatorio con exceso de pacientes que esperan largas horas para su atención médica, ya que al ser una clínica particular no cuenta con un horario establecido de atención, porque los médicos que en ella laboran no son de tiempo completo. Esta clínica cuenta con la especialidad para pacientes con diabetes, y el hecho de esperar para tomar consulta o de reagendar citas es agotador.
        </div>
    </div>
</div>